
.main{
 margin: 0px;
 padding: 0px;
    color: white;
     background-color: rgb(24, 4, 4);
     border-radius: 5px;
}
h1{
    co
}
.first{
 display: flex;
color: white;
position: relative;
justify-content: space-between;
}

.article{
    
    margin: 20px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    border-radius: 15px;
   
}

.imgfl{
    float: right;
    width: 30%;
    border-radius: 40%;
}
.linkboook{
    border: 2px solid white;
    color: tomato;
    border-radius: 5px;
    margin: 5%;
    padding: 2px;
}

.socialimg{
    width: 50px;
    margin: 5px;
    border: 2px solid white;
    border-radius: 10px;
    
}
.socialimg img{
    width: 100%;
    border-radius: 10px;

    
}